.card {
  background-color: #313740;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #c9d1d9;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
    color: #c9d1d9;

}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
    color: #c9d1d9;

}

button {
  width: 100%;
  padding: 12px;
  background: #238636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.sucesso {
  background: rgba(35, 134, 54, 0.2);
  border: 1px solid #238636;
  color: #7ee787;

  padding: 12px;
  border-radius: 10px;

  margin-bottom: 15px;
}