@if (mensagemSucesso !== '') {

  <div class="sucesso">
    {{ mensagemSucesso }}
  </div>

}

@if (mensagemErro !== '') {

  <div class="erro">
    {{ mensagemErro }}
  </div>

}

<form
  (ngSubmit)="salvar()"
  #formAluno="ngForm">

  <div class="campo">

    <label for="nome">Nome</label>

    <input
      id="nome"
      type="text"
      name="nome"
      [(ngModel)]="aluno.nome"
      required
      #nome="ngModel">

    @if (nome.invalid && nome.touched) {
      <small class="erro">
        Nome é obrigatório.
      </small>
    }

  </div>

  <div class="campo">

    <label for="idade">Idade</label>

    <input
      id="idade"
      type="number"
      name="idade"
      [(ngModel)]="aluno.idade"
      required
      min="1"
      #idade="ngModel">

    @if (idade.invalid && idade.touched) {
      <small class="erro">
        Informe uma idade válida.
      </small>
    }

  </div>

  <div class="campo">

    <label for="curso">Curso</label>

    <input
      id="curso"
      type="text"
      name="curso"
      [(ngModel)]="aluno.curso"
      required
      #curso="ngModel">

    @if (curso.invalid && curso.touched) {
      <small class="erro">
        Curso é obrigatório.
      </small>
    }

  </div>

  <div class="checkbox-container">

    <label class="checkbox-label">

      <input
        type="checkbox"
        name="formado"
        [(ngModel)]="aluno.formado">

      <span>Aluno Formado</span>

    </label>

  </div>

  <div class="acoes-formulario">

    <button
      type="submit"
      class="btn-salvar"
      [disabled]="formAluno.invalid">

      Salvar Aluno

    </button>

  </div>

</form>